@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.tag-input-container {
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
}

.tag {
  display: flex;
  align-items: center;
  margin: 2px;
  background: #e0e0e0;
  border-radius: 3px;
  padding: 5px;
}

.tag .close-btn {
  margin-left: 5px;
  cursor: pointer;
  color: #333;
}

.tag-input {
  flex: 1;
  border: none;
  padding: 5px;
  outline: none;
}
